:root {
  --dim-square: 60px;
  --dim-board: calc(var(--dim-square) * 8);
  --dim-padding: calc(var(--dim-square) / 2 + 2px);
  --dim-board-padding: calc(var(--dim-board) + var(--dim-padding) * 2);
}

@media screen and (max-width: 600px) {
  :root {
    --dim-square: 54px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --dim-square: 44px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --dim-square: 38px;
  }
}

.dark-square {
  background-color: #b58863;
}

.light-square {
  background-color: #f0d9b5;
}

.dim-square,
.dim-piece {
  width: var(--dim-square);
  height: var(--dim-square);
}

.dim-board {
  width: var(--dim-board);
  height: var(--dim-board);
}

.promote-white {
  margin-top: calc(var(--dim-square) * 3);
}

.promote-black {
  margin-bottom: calc(var(--dim-square) * 3);
}

.square-promote {
  width: var(--dim-square);
}

.chessgame-padding {
  padding: var(--dim-padding);
}

.notation-padding {
  padding: calc(var(--dim-padding) * 1.5) var(--dim-padding)
    calc(var(--dim-padding) * 1.5) var(--dim-padding);
}

.font-size-clock {
  font-size: var(--dim-padding);
}
